.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.video-card {
  height: 20rem;
  /* width: 18rem; */
  margin: 2rem;
  background-color: rgb(226, 226, 226);
  border-radius: 6px;
  overflow: hidden;
}
.thumbnail {
  width: 100%;
  cursor: pointer;
}
