.header--container {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hwb(0 27% 73%);
  background-color: rgb(226, 226, 226);
  z-index: 1;
}

#logo {
  font-weight: 700;
  font-size: 1.8rem;
  padding-left: 3rem;
}

#theme-toggle img {
  height: 2rem;
  cursor: pointer;
}

#login-logout img {
  height: 2rem;
  margin: 0 3rem 0 1.8rem;
  cursor: pointer;
}

#search-bar {
  height: 2rem;
  width: 30vw;
  background-color: rgb(187, 192, 192);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#search-bar form {
  width: calc(100% - 2.8rem);
}
input:focus {
  outline: none;
}
#search-bar input {
  height: 1.8rem;
  width: 100%;
  border: none;
  padding-left: 0.5rem;
  background-color: rgb(187, 192, 192);
}

#search-bar img {
  padding: 5px;
  cursor: pointer;
}
