.header--container {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(68, 68, 68);
  background-color: rgb(226, 226, 226);
}
