.sidebar--container {
  position: fixed;
  height: 100%;
  width: 15rem;
  top: 5rem;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar--container img {
  padding: 0px 1rem 2px 1rem;
}
.tab {
  width: 80%;
  height: 2.6rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: #444444;
  font-weight: 700;
}

.active-tab {
  background-color: rgb(187, 192, 192);
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
